* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(190, 190, 190);
}

.outerborder {
    height: 32rem;
    width: 32rem;
    border-radius: 50%;
     background-color: rgb(3, 3, 0);

}

.innerborder {
    width: 28rem;
    height: 28rem;
    border-radius: 50%;
    background: url("./asset/dp.jpeg");
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 27px 5px rgba(0,0,0,0.3),4px 4px 15px -3px rgba(0,0,0,0.1),4px 4px 15px -3px rgba(0,0,0,0.1);
}
.text {
    width: 27rem;
    height: 27rem;
    border-radius: 50%;
    background: url("./asset/pngegg.png");
    background-size: cover;
    margin: .5rem;
}
.clock { 
  width: 100%; 
  height: 100%; 
   

  box-shadow: 0 3em 5.8em; 
  border-radius: 50%; 
  position: relative; 
} 

.hr, 
.min, 
.sec { 
  width: 1%; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -100%); 
  transform-origin: bottom; 
  z-index: 2; 
  border-radius: 2em; 
} 

.pin { 
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  width: 1em; 
  height: 1em; 
  background: rgb(245, 176, 26); 
  border: 2px solid #e9a30e; 
  border-radius: 10em; 
  margin: auto; 
  z-index: 10; 
} 

/* Different length of different hands of clock */
.hr { 
  width: 6px;
  height: 25%; 
  background-color: #080808; 
} 

.min { 
  width: 4px;
  height: 30%; 
  background-color: #030303; 
} 

.sec { 
  height: 40%; 
  width: 2px;
  background-color: #050505; 
  transform-origin: 50% 85%; 
} 

@media only screen and (max-width: 600px){
  .outerborder{
    width: 24rem;
    height: 24rem;
  }
  .innerborder {
    width: 20rem;
    height: 20rem;
  }
  .text{
    width: 19rem;
    height: 19rem;
  }
}